// Placeholder file.
// You can create this in your site repo to override any style.

body {
    font-family: Verdana, sans-serif;
}

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }

.container { /* Replace '.container' with the actual class or ID of your main content wrapper */
    padding-bottom: 50px; /* Adjust the value as needed */
  }
  

.court-filing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.court-filing div {
    border: 1px solid black;
    padding: 10px;
}

.court-filing .content {
    grid-column: span 2;
}

pre,
code {
    background-color: rgb(227, 202, 255);
}