---
layout: base 
---
{%- if page.title -%}
  <h1 class="headline"><hr>{{page.title}}</h1>
{%- endif -%}
{%- if page.subhed -%}
  <p class="subhed">{{ page.subhed }}</p>
{%- endif -%}

{%- if page.page-image.path -%}
  <div class="page-image-container">
  <figure class="page-image">
    <img src="{{ page.page-image.path }}" alt="{{ page.page-image.alt-text }}"/>
    {%- if page.page-image.cutline -%}
      <figcaption>{{ page.page-image.cutline }}</figcaption>
    {%- endif -%}
  </figure>
  </div>
{%- endif -%}

<article class="article-content">
  {{ content }}
</article>

