---
layout: base 
---
{%- if page.title -%}
  <h1 class="headline"><hr><i>{{page.title}}</i></h1>
{%- endif -%}
{%- if page.subhed -%}
  <p class="subhed">{{ page.subhed }}</p>
{%- endif -%}

{%- if page.featured-image.path -%}
  <div class="featured-image-container">
  <figure class="featured-image">
    <img src="{{ page.featured-image.path }}" alt="{{ page.featured-image.alt-text }}"/>
    <figcaption>{{ page.featured-image.cutline }}</figcaption>
  </figure>
  </div>
{%- endif -%}
{%- assign date = page.date | date: "%B %-d, %Y" -%}
{%- if page.author and page.author-title -%}
  {%- for profile in site.staff -%}
    {%- if page.author == profile.title -%}
      {%- assign profile-link = profile.url -%}
    {%- endif -%}
  {%- endfor -%}
    <h3 class="byline"><a href="{{profile-link}}">{{page.author}}</a>, {{page.author-title}} | {{ date }}</h3>
    <h3 class="byline"><b>{{ date }}</b></h3>
{%- else -%}
{%- endif -%}
<article class="article-content">
  {{ content }}
</article>

{%- include disqus.html -%}