---
layout: base 
---
{%- if page.title -%}
  <h1 class="headline"><hr><i>{{page.title}}</i></h1>
{%- endif -%}
{%- if page.subhed -%}
  <p class="subhed">{{ page.subhed }}</p>
{%- endif -%}

{%- if page.featured-image.path -%}
  <div class="featured-image-container">
  <figure class="featured-image">
    <img src="{{ page.featured-image.path }}" alt="{{ page.featured-image.alt-text }}"/>
    <figcaption>{{ page.featured-image.cutline }}</figcaption>
  </figure>
  </div>
{%- endif -%}
{%- assign date = page.date | date: "%B %-d, %Y" -%}
{%- if page.author -%}
  {%- for profile in site.staff -%}
    {%- if page.author == profile.title -%}
      {%- assign profile-link = profile.url -%}
    {%- endif -%}
  {%- endfor -%}
    <h3 class="byline"><small><b>By {{page.author}}</b><br>{{ date }}</small></h3>
{%- else -%}
{%- endif -%}
<article class="article-content">
  {{ content }}
  {%- if page.category -%}
  <small>Tags: {{page.category}}</small>
  {%- endif -%}  
</article>

{%- include disqus.html -%}