---
layout: base 
---

<style>
  #toc {
    padding: 10px;
    margin-bottom: 20px;
  }
  
  #toc a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  #toc a:hover {
    color: #b85bff;
  }
  </style>

{%- if page.title -%}
    <h1 class="headline"><hr>{{page.title}}</h1>
{%- endif -%}
{%- if page.subhed -%}
    <p class="subhed">{{ page.subhed }}</p>
{%- endif -%}

{%- if page.page-image.path -%}
    <div class="page-image-container">
    <figure class="page-image">
        <img src="{{ page.page-image.path }}" alt="{{ page.page-image.alt-text }}"/>
        {%- if page.page-image.cutline -%}
            <figcaption>{{ page.page-image.cutline }}</figcaption>
        {%- endif -%}
    </figure>
    </div>
{%- endif -%}

{%- if page.category -%}
    <h4 class="subhed"><hr>About → {{page.category}}</h4>
{%- endif -%}

<article class="wiki-content">
  <div id="toc"></div>
    {{ content }}
</article>